{
  "openapi": "3.1.0",
  "info": {
    "title": "MySellers API",
    "description": "API de CRM, WhatsApp, IA e automacao de vendas da MySellers. Gerencie leads, deals, mensagens e automacoes de vendas.",
    "version": "1.0.0",
    "contact": {
      "name": "MySellers",
      "url": "https://mysellers.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.mysellers.com.br",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Leads",
      "description": "Gerenciamento de leads — criar, listar, buscar, atualizar e deletar contatos do seu CRM."
    },
    {
      "name": "Funnels",
      "description": "Gerenciamento de funis de vendas — criar, configurar estagios e automacoes."
    },
    {
      "name": "Deals",
      "description": "Gerenciamento de oportunidades (deals) — criar, mover entre estagios, alterar status e acompanhar historico."
    },
    {
      "name": "Stages",
      "description": "Gerenciamento de estagios do funil — criar, ordenar e configurar etapas do pipeline."
    },
    {
      "name": "Custom Fields",
      "description": "Campos personalizados para leads e produtos — definir, listar e gerenciar campos extras do seu CRM."
    },
    {
      "name": "Enterprises",
      "description": "Gerenciamento de empresas — criar, listar, atualizar, deletar e vincular leads como contatos da empresa."
    },
    {
      "name": "Users",
      "description": "Gerenciamento de usuarios do workspace — criar, listar, atualizar, alterar cargo e senha, e consultar permissoes."
    },
    {
      "name": "Integrations",
      "description": "Endpoints dedicados a integracoes externas (ex: Dados Fazenda)."
    }
  ],
  "paths": {
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Criar lead",
        "description": "Cria um novo lead no workspace. Se autenticado via API Key, o `workspaceId` e preenchido automaticamente pelo token.",
        "operationId": "createLead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Nao autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Listar leads",
        "description": "Retorna todos os leads com paginacao. Pode filtrar por `workspace_id` e `phoneNumber`. Se autenticado via API Key, retorna apenas leads do workspace do token.",
        "operationId": "listLeads",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "description": "ID do workspace para filtrar leads",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Numero de telefone para buscar lead especifico",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Numero da pagina (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade por pagina (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de leads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLeads"
                }
              }
            }
          },
          "401": {
            "description": "Nao autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Buscar lead por ID",
        "description": "Retorna os detalhes completos de um lead pelo seu UUID.",
        "operationId": "getLeadById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do lead",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "401": {
            "description": "Nao autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Lead nao pertence ao seu workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Leads"
        ],
        "summary": "Atualizar lead",
        "description": "Atualiza os dados de um lead existente. Todos os campos sao opcionais.",
        "operationId": "updateLead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do lead",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Deletar lead",
        "description": "Remove permanentemente um lead. **Esta acao e irreversivel.**",
        "operationId": "deleteLead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do lead",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deletado com sucesso"
          },
          "403": {
            "description": "Lead nao pertence ao seu workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Lead nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/search": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Buscar leads",
        "description": "Busca leads por nome, email ou CPF.",
        "operationId": "searchLeads",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Texto para buscar (nome, email ou CPF)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximo de resultados (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leads encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/leads/bulk": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Criar leads em massa",
        "description": "Cria ate 100 leads em uma unica requisicao. Cada lead e processado individualmente.",
        "operationId": "bulkCreateLeads",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateLeadsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resultado da criacao em massa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCreateLeadsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leads/with-deal": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Criar lead com deal",
        "description": "Cria um lead e um deal atomicamente. Se o lead ja existir (deduplicacao por email, telefone, CPF ou CNPJ), reutiliza o existente.",
        "operationId": "createLeadWithDeal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadWithDealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead e deal criados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadWithDealResponse"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/funnels": {
      "post": {
        "tags": [
          "Funnels"
        ],
        "summary": "Criar funil",
        "description": "Cria um novo funil de vendas no workspace. O funil e o container principal que organiza os estagios do pipeline de vendas.",
        "operationId": "createFunnel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFunnelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Funil criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funnel"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Funnels"
        ],
        "summary": "Listar funis",
        "description": "Retorna todos os funis. Pode filtrar por workspace, tipo e status ativo.",
        "operationId": "listFunnels",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "description": "Filtrar por workspace",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filtrar por tipo",
            "schema": {
              "type": "string",
              "enum": [
                "sales",
                "marketing",
                "support",
                "custom"
              ]
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filtrar por status ativo (true/false)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de funis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Funnel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/funnels/{id}": {
      "get": {
        "tags": [
          "Funnels"
        ],
        "summary": "Buscar funil por ID",
        "description": "Retorna os detalhes de um funil incluindo seus estagios associados.",
        "operationId": "getFunnelById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do funil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funnel"
                }
              }
            }
          },
          "404": {
            "description": "Funil nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Funnels"
        ],
        "summary": "Atualizar funil",
        "description": "Atualiza os dados de um funil existente. Todos os campos sao opcionais.",
        "operationId": "updateFunnel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunnelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funil atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funnel"
                }
              }
            }
          },
          "404": {
            "description": "Funil nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Funnels"
        ],
        "summary": "Deletar funil",
        "description": "Remove um funil. Use `cascade=true` para deletar tambem os deals associados.",
        "operationId": "deleteFunnel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cascade",
            "in": "query",
            "description": "Se true, deleta tambem os deals do funil",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funil deletado com sucesso"
          },
          "404": {
            "description": "Funil nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/funnels/workspace/{workspace_id}": {
      "get": {
        "tags": [
          "Funnels"
        ],
        "summary": "Listar funis do workspace",
        "description": "Retorna todos os funis de um workspace especifico.",
        "operationId": "listFunnelsByWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de funis do workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Funnel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/funnels/set-default/{id}": {
      "patch": {
        "tags": [
          "Funnels"
        ],
        "summary": "Definir funil padrao",
        "description": "Define um funil como padrao do workspace. O funil padrao anterior perde o status automaticamente.",
        "operationId": "setDefaultFunnel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funil definido como padrao",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Funnel"
                }
              }
            }
          },
          "404": {
            "description": "Funil nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/funnels/{id}/stages": {
      "post": {
        "tags": [
          "Funnels"
        ],
        "summary": "Associar estagios ao funil",
        "description": "Associa um ou mais estagios a um funil, definindo a ordem de cada um no pipeline.",
        "operationId": "associateStages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateStagesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Estagios associados com sucesso"
          },
          "404": {
            "description": "Funil nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/funnels/{id}/stages/{stageId}": {
      "delete": {
        "tags": [
          "Funnels"
        ],
        "summary": "Remover estagio do funil",
        "description": "Remove a associacao de um estagio com o funil. O estagio em si nao e deletado.",
        "operationId": "removeStageFromFunnel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stageId",
            "in": "path",
            "description": "UUID do estagio",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estagio removido do funil"
          },
          "404": {
            "description": "Funil ou estagio nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/funnels/{id}/stages/order": {
      "patch": {
        "tags": [
          "Funnels"
        ],
        "summary": "Reordenar estagios",
        "description": "Atualiza a ordem dos estagios dentro do funil.",
        "operationId": "reorderStages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StageOrder"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estagios reordenados com sucesso"
          }
        }
      }
    },
    "/deals": {
      "post": {
        "tags": [
          "Deals"
        ],
        "summary": "Criar deal",
        "description": "Cria uma nova oportunidade (deal) associada a um lead, funil e estagio.",
        "operationId": "createDeal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDealRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deal criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Listar deals",
        "description": "Retorna deals com paginacao e diversos filtros. Use `include` para trazer relacoes (ex: lead, funnel, stage).",
        "operationId": "listDeals",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "description": "Filtrar por workspace",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "funnel_id",
            "in": "query",
            "description": "Filtrar por funil",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stage_id",
            "in": "query",
            "description": "Filtrar por estagio",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "lead_id",
            "in": "query",
            "description": "Filtrar por lead",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filtrar por responsavel",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por status",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "won",
                "lost"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Relacoes para incluir (separadas por virgula: lead,funnel,stage)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagina (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite por pagina (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de deals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDeals"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{id}": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Buscar deal por ID",
        "description": "Retorna os detalhes completos de um deal.",
        "operationId": "getDealById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do deal",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do deal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "404": {
            "description": "Deal nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Deals"
        ],
        "summary": "Atualizar deal",
        "description": "Atualiza os dados de um deal existente. Todos os campos sao opcionais.",
        "operationId": "updateDeal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do deal",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "404": {
            "description": "Deal nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Deals"
        ],
        "summary": "Deletar deal",
        "description": "Remove permanentemente um deal. **Esta acao e irreversivel.**",
        "operationId": "deleteDeal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do deal",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deal deletado com sucesso"
          },
          "404": {
            "description": "Deal nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{id}/stage": {
      "patch": {
        "tags": [
          "Deals"
        ],
        "summary": "Mover deal de estagio",
        "description": "Move um deal para outro estagio do funil. O historico de movimentacao e registrado automaticamente.",
        "operationId": "updateDealStage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do deal",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "changed_by",
            "in": "query",
            "description": "UUID do usuario que fez a mudanca",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealStageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deal movido de estagio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "404": {
            "description": "Deal nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{id}/status": {
      "patch": {
        "tags": [
          "Deals"
        ],
        "summary": "Alterar status do deal",
        "description": "Altera o status de um deal para won (ganho) ou lost (perdido). Para deals perdidos, e possivel informar o motivo da perda.",
        "operationId": "updateDealStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do deal",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "changed_by",
            "in": "query",
            "description": "UUID do usuario que fez a mudanca",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deal"
                }
              }
            }
          },
          "404": {
            "description": "Deal nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{id}/history": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Historico do deal",
        "description": "Retorna o historico completo de movimentacoes e alteracoes de status do deal.",
        "operationId": "getDealHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do deal",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historico do deal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DealHistoryEntry"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deal nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{id}/messages": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Mensagens do deal",
        "description": "Retorna as mensagens da conversa do lead no periodo da oportunidade (entre criacao e fechamento).",
        "operationId": "getDealMessages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do deal",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagina (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limite por pagina (default: 50)",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mensagens do periodo do deal"
          },
          "404": {
            "description": "Deal nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/deals/funnel/{funnelId}": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Deals por funil",
        "description": "Retorna todos os deals de um funil especifico.",
        "operationId": "listDealsByFunnel",
        "parameters": [
          {
            "name": "funnelId",
            "in": "path",
            "description": "UUID do funil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Relacoes para incluir (lead,funnel,stage)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deals do funil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDeals"
                }
              }
            }
          }
        }
      }
    },
    "/deals/lead/{leadId}": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Deals por lead",
        "description": "Retorna todos os deals associados a um lead. Pode filtrar por status.",
        "operationId": "listDealsByLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "UUID do lead",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por status",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "won",
                "lost"
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Relacoes para incluir",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deals do lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDeals"
                }
              }
            }
          }
        }
      }
    },
    "/deals/stats/workspace/{workspace_id}": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Estatisticas de deals",
        "description": "Retorna estatisticas agregadas de deals do workspace (total, abertos, ganhos, perdidos, valores).",
        "operationId": "getDealStats",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estatisticas de deals"
          }
        }
      }
    },
    "/stages": {
      "post": {
        "tags": [
          "Stages"
        ],
        "summary": "Criar estagio",
        "description": "Cria um novo estagio que pode ser associado a um ou mais funis.",
        "operationId": "createStage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Estagio criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stage"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Stages"
        ],
        "summary": "Listar estagios",
        "description": "Retorna todos os estagios. Pode filtrar por workspace e por estagios padrao.",
        "operationId": "listStages",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "description": "Filtrar por workspace (use 'null' para globais)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isDefault",
            "in": "query",
            "description": "Filtrar por estagios padrao (true/false)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de estagios",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stages/{id}": {
      "get": {
        "tags": [
          "Stages"
        ],
        "summary": "Buscar estagio por ID",
        "description": "Retorna os detalhes de um estagio.",
        "operationId": "getStageById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do estagio",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do estagio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stage"
                }
              }
            }
          },
          "404": {
            "description": "Estagio nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Stages"
        ],
        "summary": "Atualizar estagio",
        "description": "Atualiza os dados de um estagio. Todos os campos sao opcionais.",
        "operationId": "updateStage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do estagio",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estagio atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stage"
                }
              }
            }
          },
          "404": {
            "description": "Estagio nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Stages"
        ],
        "summary": "Deletar estagio",
        "description": "Remove permanentemente um estagio. Nao e possivel deletar se houver deals associados.",
        "operationId": "deleteStage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do estagio",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estagio deletado"
          },
          "404": {
            "description": "Estagio nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stages/workspace/{workspace_id}": {
      "get": {
        "tags": [
          "Stages"
        ],
        "summary": "Estagios por workspace",
        "description": "Retorna todos os estagios de um workspace especifico.",
        "operationId": "listStagesByWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estagios do workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields": {
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Criar campo personalizado",
        "description": "Cria um novo campo personalizado para leads ou produtos do workspace. O `fieldName` e o identificador unico (slug) usado como chave no JSON de valores.",
        "operationId": "createCustomField",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campo criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400": {
            "description": "Dados invalidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Listar campos personalizados",
        "description": "Retorna todos os campos personalizados de um workspace, filtrados por tipo de entidade (lead ou product).",
        "operationId": "listCustomFields",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "entity_type",
            "in": "query",
            "description": "Tipo de entidade (default: product)",
            "schema": {
              "type": "string",
              "enum": [
                "lead",
                "product"
              ]
            }
          },
          {
            "name": "only_active",
            "in": "query",
            "description": "Se true, retorna apenas campos ativos (default: true)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de campos personalizados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields/{id}": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Buscar campo por ID",
        "description": "Retorna os detalhes de um campo personalizado.",
        "operationId": "getCustomFieldById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do campo",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do campo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "404": {
            "description": "Campo nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Atualizar campo personalizado",
        "description": "Atualiza os dados de um campo personalizado. Todos os campos sao opcionais.",
        "operationId": "updateCustomField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do campo",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campo atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "404": {
            "description": "Campo nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Remover campo personalizado",
        "description": "Remove permanentemente um campo personalizado do workspace.",
        "operationId": "deleteCustomField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID do campo",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Campo removido com sucesso"
          },
          "404": {
            "description": "Campo nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields/reorder": {
      "post": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Reordenar campos",
        "description": "Atualiza a ordem de exibicao dos campos personalizados de um workspace.",
        "operationId": "reorderCustomFields",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "description": "UUID do workspace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "entity_type",
            "in": "query",
            "description": "Tipo de entidade",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "lead",
                "product"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fieldIds"
                ],
                "properties": {
                  "fieldIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "IDs dos campos na nova ordem"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Campos reordenados com sucesso"
          }
        }
      }
    },
    "/phone-numbers": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Listar telefones",
        "description": "Lista telefones com filtros opcionais. Prioridade: lead_id > user_id > workspace_id > number.",
        "operationId": "listPhoneNumbers",
        "parameters": [
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de telefones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Cadastrar telefone",
        "operationId": "createPhoneNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Telefone criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/{id}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Buscar telefone por ID",
        "operationId": "getPhoneNumberById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Telefone encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          },
          "403": {
            "description": "Acesso negado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Nao encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Atualizar telefone",
        "operationId": "updatePhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telefone atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Deletar telefone",
        "operationId": "deletePhoneNumber",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletado"
          }
        }
      }
    },
    "/phone-numbers/{id}/primary": {
      "patch": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Definir telefone como primario",
        "operationId": "setPhoneNumberPrimary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Telefone marcado como primario",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/lead/{lead_id}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Listar telefones por lead",
        "operationId": "listPhoneNumbersByLead",
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de telefones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/user/{user_id}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Listar telefones por user",
        "operationId": "listPhoneNumbersByUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de telefones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/workspace/{workspace_id}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Listar telefones por workspace",
        "operationId": "listPhoneNumbersByWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de telefones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/instance/{instance_id}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Listar telefones por instance",
        "operationId": "listPhoneNumbersByInstance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de telefones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/number/{number}": {
      "get": {
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Buscar telefone pelo numero",
        "operationId": "findPhoneNumberByNumber",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5511999998888"
          }
        ],
        "responses": {
          "200": {
            "description": "Telefone(s) encontrado(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chats": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats",
        "operationId": "listChats",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de chats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Criar chat",
        "operationId": "createChat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "numberId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "startedBy": {
                    "type": "string",
                    "enum": [
                      "lead",
                      "agent",
                      "system"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Buscar chat por ID",
        "operationId": "getChatById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeMessages",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Messaging"
        ],
        "summary": "Atualizar chat",
        "operationId": "updateChat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Messaging"
        ],
        "summary": "Deletar chat",
        "operationId": "deleteChat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletado"
          }
        }
      }
    },
    "/chats/{id}/history": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Historico normalizado do chat",
        "description": "Retorna as ultimas mensagens do chat em formato normalizado (merge de providers).",
        "operationId": "getChatHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historico",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnifiedMessage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}/ai-processed": {
      "patch": {
        "tags": [
          "Messaging"
        ],
        "summary": "Marcar chat como processado pela IA",
        "operationId": "markChatAiProcessed",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workerStartTime"
                ],
                "properties": {
                  "workerStartTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "affected": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}/ai-status": {
      "patch": {
        "tags": [
          "Messaging"
        ],
        "summary": "Habilitar ou desabilitar IA no chat",
        "operationId": "updateChatAiStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "isAiEnabled"
                ],
                "properties": {
                  "isAiEnabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}/close": {
      "patch": {
        "tags": [
          "Messaging"
        ],
        "summary": "Fechar chat",
        "operationId": "closeChat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}/archive": {
      "patch": {
        "tags": [
          "Messaging"
        ],
        "summary": "Arquivar chat",
        "operationId": "archiveChat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}/reopen": {
      "patch": {
        "tags": [
          "Messaging"
        ],
        "summary": "Reabrir chat",
        "operationId": "reopenChat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}/presence": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Enviar presenca no chat",
        "operationId": "sendChatPresence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "presence"
                ],
                "properties": {
                  "presence": {
                    "type": "string",
                    "enum": [
                      "composing",
                      "recording",
                      "paused"
                    ]
                  },
                  "delay": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enviado"
          }
        }
      }
    },
    "/chats/workspace/{workspace_id}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats de um workspace",
        "operationId": "listChatsByWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      }
    },
    "/chats/workspace/{workspace_id}/open": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats abertos",
        "operationId": "listOpenChatsByWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      }
    },
    "/chats/workspace/{workspace_id}/status/{status}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats por status",
        "operationId": "listChatsByStatus",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "archived"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      }
    },
    "/chats/workspace/{workspace_id}/optimized": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats de um workspace (otimizado)",
        "operationId": "listChatsByWorkspaceOptimized",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "archived"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastMessageMinutes",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "awaitingReply",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista otimizada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      }
    },
    "/chats/instance/{instance_id}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats por instancia",
        "operationId": "listChatsByInstance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "archived"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastMessageMinutes",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "awaitingReply",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      }
    },
    "/chats/cloud-api-instance/{instance_id}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats por instancia Cloud API",
        "operationId": "listChatsByCloudApiInstance",
        "parameters": [
          {
            "name": "instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "archived"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastMessageMinutes",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "awaitingReply",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      }
    },
    "/chats/phone-number/{number_id}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Listar chats de um telefone",
        "operationId": "listChatsByPhoneNumber",
        "parameters": [
          {
            "name": "number_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChats"
                }
              }
            }
          }
        }
      }
    },
    "/chats/ai-status/{phone}": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Status da IA para um telefone",
        "operationId": "getAiStatusByPhone",
        "parameters": [
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5511999998888"
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chats/needs-analysis": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Chats que precisam de analise pelo System Agent",
        "operationId": "listChatsNeedsAnalysis",
        "parameters": [
          {
            "name": "workspaceIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "IDs de workspace separados por virgula"
          },
          {
            "name": "idleSeconds",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 120
            }
          },
          {
            "name": "minMessages",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 3
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de chats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chat"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unified-messages/{id}": {
      "get": {
        "tags": [
          "Unified Messages"
        ],
        "summary": "Buscar mensagem por ID",
        "operationId": "getUnifiedMessageById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mensagem",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedMessage"
                }
              }
            }
          }
        }
      }
    },
    "/unified-messages/chat/{chatId}": {
      "get": {
        "tags": [
          "Unified Messages"
        ],
        "summary": "Listar mensagens de um chat",
        "operationId": "listUnifiedMessagesByChat",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Cursor: retorna mensagens anteriores a este ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Mensagens paginadas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUnifiedMessages"
                }
              }
            }
          }
        }
      }
    },
    "/unified-messages/chat/{chatId}/count": {
      "get": {
        "tags": [
          "Unified Messages"
        ],
        "summary": "Contar mensagens de um chat",
        "operationId": "countUnifiedMessagesByChat",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unified-messages/chat/{chatId}/unread": {
      "get": {
        "tags": [
          "Unified Messages"
        ],
        "summary": "Contar mensagens nao lidas",
        "operationId": "countUnreadUnifiedMessages",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nao lidas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unified-messages/chat/{chatId}/read": {
      "patch": {
        "tags": [
          "Unified Messages"
        ],
        "summary": "Marcar mensagens como lidas",
        "operationId": "markChatMessagesAsRead",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Atualizado"
          }
        }
      }
    },
    "/unified-messages/{id}/status": {
      "patch": {
        "tags": [
          "Unified Messages"
        ],
        "summary": "Atualizar status de uma mensagem",
        "operationId": "updateUnifiedMessageStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "sent",
                "delivered",
[...]
